body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif, Geneva, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: rgb(243, 249, 251);
  color: rgb(17, 63, 103);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.waldoMaps {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.map {
  background-color: rgb(135, 192, 205);
  color: rgb(17, 63, 103);
  border-radius: 10px;
  padding: 10px;
}

.map img {
  border: 3px solid rgb(17, 63, 103);
  border-radius: 5px;
}

.mapOverlay {
    cursor: url('/cursor.png') 32 32, auto;
}