header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 10px 20px;
  background-color: rgb(34, 101, 151);
  color: rgb(243, 249, 251);
}

header * {
  margin: 0;
}

.topRight {
  display: flex;
  gap: 15px;
  align-items: center;
}

.goToMap > * {
  color: rgb(243, 249, 251);
  text-decoration: none;
}