.clickMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
  z-index: 1000;
  cursor: pointer;
}

.targetBox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid red;
  height: 80px;
  width: 50px;
}

.charMenu {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6.7px;
  margin: 0;
}


.charMenu .menu-item {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.charMenu .menu-item img {
  height: 40px;
  width: auto;
}

.charMenu .menu-item:hover,
.charMenu .menu-item:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.map {
  width: 100%;
  position: relative;
}

.map img {
  width: 100%;
  border-radius: 5px;
}

.characterBox {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px;
  border: 4px solid black;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 90vw;
  justify-content: space-between;
  gap: 1rem;
}

.characterBox>div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  gap: 10px;
}

.findChar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85.67vw;
}

.options {
  display: flex;
  gap: 20px;
  align-items: center;
}

.timer {
  gap: 10px;
  display: flex;
  align-items: center;
  background-color: rgb(135, 192, 205);
  padding: 10px;
  border-radius: 15px;
  font-size: x-large;
  color: white;
}